        <footer>
            <section class="infinite-logo-bar">

            </section>

            <section class="footer-logo-section">
                <img src="/img/logo-mobile.svg" alt="logo">
                <a href="">INLOGGEN
                    <img src="/img/arrow.svg" alt="">
                </a>
            </section>

            <section>
                <ul class="footer-navigation-list-section">
                    <li><p>Over ons</p></li>
                    <li><p>Events</p></li>
                    <li><p>Publicaties</p></li>
                    <li><p>Leden</p></li>
                    <li><p>Vacatures</p></li>
                    <li><p>Algemene voorwaarden</p></li>
                    <li><p>Privacy beleid</p></li>
                </ul>
            </section>

            <section class="footer-info-section">
                <section class="address">
                    <p>Dutch Digital Agencies</p>
                    <p>Overhoeksplein 1</p>
                    <p>1031 KS Amsterdam</p>
                </section>
                <section class="contact">
                    <p>(0)85 4010391</p>
                    <p>info@dutchdigitalagencies.com</p>
                </section>
            </section>

            <section class="footer-socialmedia-section">
                <ul>
                    <li>Instagram</li>
                    <li>Facebook</li>
                    <li>LinkedIn</li>
                </ul>
                <p>Copyright &copy; 2025 Dutch Digital Agencies</p>
            </section>

        </footer>
    </body>
</html> 